html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Montserrat;
}
body { 
    padding-top: 50px; 
}

.navbar-custom{
    background-color: #AF00B9;

}
.white-text{
    color:white
}
.round-button{
    border-radius: 16px;
    background-color: white;
    color:black;
}
.more-margin{
    margin-right: 50px;
}
.degrading-pink{
    background-image: url("../exportados-alta/top-image.png");
    height: 100vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:1;
}
.custom-margin-text{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%

}
.img-fluid{
 max-width: 65%;
 max-height: 65%; 
 position: sticky;
 z-index: 3;
 margin-left: 60%;
}
.img-fluid2{
    max-width: 70%;
    max-height: 70%; 
    position: sticky;
    z-index: 2;
    margin-top: 5%
   }
.container-custom{
    position: relative;
    text-align: center;
}
.text-custom{
    position:absolute;
    color:black;
    top: 20%;
    left: 25%;
}
.pink-text{
    color:purple;

}
.pink-text2{
    color:purple;
    font-weight: 700;
    font-size: 30px;
}
.big-text{
    font-weight: 700;
    font-size: 30px;
}

.cellphones-showcase{
    background-image: url("../exportados-alta/screens-kulko.png");
    height: 100vh;
    width: 100%;
    padding-bottom: 10%;
}
.box {
    background-image: url("../exportados-alta/dialog-top.png"); 
    height: 100vh;
    width: ;
    background-repeat: no-repeat;
    text-align: center;

  }
  .mapuche{
    background-image: url("../exportados-alta/bandera-mapuche.png"); 
    height: 100%;
    width: auto;
  }
  .start-button {
	box-shadow:inset 0px 1px 0px 0px #594b5c;
	background:linear-gradient(to bottom, #572473 5%, #4a354a 100%);
	background-color:#572473;
	border-radius:28px;
	border:1px solid #0c0414;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:18px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8d6acc;
}
.start-button:hover {
	background:linear-gradient(to bottom, #4a354a 5%, #572473 100%);
	background-color:#4a354a;
}
.start-button:active {
	position:relative;
	top:1px;
}
.text-happy-guy{

width: 610px;
height: 144px;
left: 238px;
top: 4391px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
/* or 120% */
color: #000000;
}

img{
    max-width: 100vh;
}

.large-image{
    min-height: 100%;
    max-width: 100%;

}
.small-image{
    max-height: 100%;
    max-width: 100%;

}

.purple-background{
    box-shadow:inset 0px 1px 0px 0px #594b5c !important;
	background:linear-gradient(to bottom, #572473 5%, #4a354a 100%) !important;
	background-color:#572473 !important;
    
}
.thin-line-top{
    border-top: 1px solid #333;
}

.line-top{
    border-top: 1px thin #333;
}